* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  src: url(assets/fonts/Raleway-Regular.ttf);
  font-family: Raleway-Regular;
}

@font-face {
  src: url(assets/fonts/Raleway-Bold.ttf);
  font-family: Raleway-Bold;
}

@font-face {
  src: url(assets/fonts/Raleway-ExtraBold.ttf);
  font-family: Raleway-ExtraBold;
}

@font-face {
  font-family: Oswald-Medium;
  src: url(assets/fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: Oswald-SemiBold;
  src: url(assets/fonts/Oswald-SemiBold.ttf);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-from-top {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fade-in-from-bottom-25 {
  from {
    opacity: 0;
    transform: translateY(25%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-from-bottom-25-12-0 {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }

  50% {
    opacity: 1;
    transform: translateY(12);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fade-in-from-left-to-curr-pos {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-from-right-to-curr-pos {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
  }
}



@keyframes fade-in-from-right-20 {
  from {
    opacity: 0;
    transform: translateX(20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-from-left-50 {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-from-right-50 {
  from {
    opacity: 0;
    transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-from-right-50-25-0 {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  50% {
    opacity: 1;
    transform: translateX(25%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-from-left-100 {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-from-right-100 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes theme-color-change {
  from {
    background-color: var(--initial-bg-color);
  }

  to {
    background-color: var(--primary-bg-color);
  }
}

:root {
  --primary-font-normal:Raleway-Regular, Helvetica;
  --primary-font-bold: Raleway-Bold, Helvetica;
  --primary-font-heavy-bold: Raleway-ExtraBold, Helvetica;
  --secondary-font-normal: Oswald-Medium, Helvetica;
  --secondary-font-bold: Oswald-SemiBold, Helvetica;
  --font-size-header: 3.8rem;
  --color-theme-1: rgb(57, 131, 201);
  --delay-1: 0.2s;
  --delay-2: 0.4s;
  --delay-3: 0.6s;
  --delay-4: 0.8s;
  --nav-height: 80px;
  --card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--outline-width: 0px;
}

body {
  position: relative;
  margin: auto;
  max-width: 150rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font-normal);
  background-color: var(--primary-bg-color);
  overflow-x: hidden;
  animation-name: theme-color-change;
  animation-duration: var(--longer-load-time);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* Pre-animation States*/
body {
  background-color: var(--initial-bg-color);
}

nav {
  transform: translateY(-100%);
}

#intro > .bg-graphic,
#intro > img,
#intro > h,
#text-and-links > p,
#text-and-links > .links > a {
  opacity: 0;
}

/* Page Loading Animations */
.about,
.projects,
.skills,
.other,
footer {
  animation-name: fade-in;
  animation-delay: var(--delay-4);
  animation-duration: var(--delay-3);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#landing {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 150rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

nav {
  position: absolute;
  top: 0;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--font-size-nav);
  font-family: var(--secondary-font-normal);
  background-color: white;
  animation-name: slide-from-top;
  animation-delay: var(--delay-3);
  animation-duration: var(--delay-3);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 10;
}

#nav-logo {
  padding: 10px 20px;
  height: 80%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2.8rem;
  font-family: var(--secondary-font-bold);
  color: black;
}

#burger-icon {
  display: none;
}

#nav-links {
  height: 100%;
  display: flex;
  list-style: none;
}

#nav-links > li > a {
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: var(--primary-font-bold);
  font-size: 2.2rem;
}

#nav-links > li > a:hover {
  background-color: black;
  color: white;
  transition: background-color 0.4s, color 0.4s;
}

#intro {
  position: relative;
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

#intro > .bg-graphic {
  position: absolute;
  top: 12rem;
  left: 38rem;
  width: 50rem;
  height: 30rem;
  display: flex;
  align-items: center;
  border: 3px solid black;
  animation-name: fade-in-from-right-50;
  animation-delay: var(--delay-2);
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#intro > h {
  position: absolute;
  top: 15rem;
  left: 42rem;
  width: 40rem;
  font-family: var(--secondary-font-bold);
  font-size: 4.8rem;
  color: black;
  text-transform: uppercase;
  animation-name: fade-in-from-right-50;
  animation-delay: var(--delay-1);
  animation-duration: var(--delay-3);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#intro > img {
  position: absolute;
  left: 75rem;
  bottom: 0;
  width: 45rem;
  animation-name: fade-in-from-right-50;
  animation-delay: var(--delay-1);
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#text-and-links {
  position: absolute;
  top: 40rem;
  left: 30rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text-and-links > p {
  margin-bottom: 20px;
  padding: 40px;
  font-family: var(--primary-font-bold);
  font-size: 2rem;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  animation-name: fade-in-from-left-50;
  animation-delay: var(--delay-1);
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#text-and-links > .links {
  display: flex;
  gap: 20px;
}

#text-and-links > .links > a {
  display: inline-block;
  width: 80px;
  animation-name: fade-in-from-left-100;
  animation-duration: var(--delay-3);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#text-and-links > .links > a:hover {
  transform: scale(1.2); 
}

#text-and-links > .links > a > img {
  display: block;
  max-width: 100%;
  transition: transform 0.3s;
}

#text-and-links > .links > a > img:hover {
  transform: scale(1.2);
}

#linkedin-link {
  animation-delay: 0.7s;
}

#github-link {
  animation-delay: 0.5s;
}

#fb-link {
  animation-delay: 0.3s;
}

#x-link {
  animation-delay: 0.1s;
}

#image-track-wrapper {
  display: flex;
  align-items: center;
  height: 70vh;
  width: 100vw;
  max-width: 150rem;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  animation: fade-in linear both;
  animation-duration: 1ms;
  animation-timeline: view();
  animation-range: cover 0% cover 40%;
  overflow: hidden;
}

#image-track {
  height: 100%;
  display: flex;
  gap: 4vmin;
  cursor: grab;
  user-select: none;
  animation: fade-in-from-right-20 linear both;
  animation-timeline: view();
  animation-range: cover 0% cover 40%;
}

#image-track:active {
  cursor: grabbing;
}

#image-track > div {
  position: relative;
}

#image-track-text > h {
  display: block;
  padding: 1.5rem;
  width: 30rem;
  font-family: var(--secondary-font-bold);
  font-size: var(--font-size-header);
  color: white;
  text-transform: uppercase;
  background-color: black;;
}

#image-track-text > p {
  padding: 2rem;
  font-family: var(--primary-font-bold);
  font-size: 2.4rem;
  color: black;
}

#image-track-text > img {
  padding-left: 2rem;
  width: 50%;
}

#image-track > .image-wrapper > p {
  position: absolute;
  font-family: var(--secondary-font-normal);
  font-size: 2.8rem;
  color: white;
  text-transform: uppercase;
  padding: 0 5px;
}

#image-track > .image-wrapper > img {
  width: 40rem;
  height: 100%;
  object-fit: cover;
  object-position: 100% center;
}

#webdev {
  background-color: black;
}

#pathfinder {
  top: 45vmin;
  background-color: black;
}

#tudy {
  background-color: black;
}

#cpu {
  top: 5vmin;
  right: 0;
  background-color: black;
}

.card {
	--index0: calc(var(--index) - 1); /* 0-based index */
	--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
	--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
}

@keyframes scale {
	to {
		transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
	}
}

#hobbies-and-interests {
  margin-top: 150px;
  font-family: var(--secondary-font-bold);
  font-size: var(--font-size-header);
  text-transform: uppercase;
}

#hobbies-and-interests,
#cards {
  animation: fade-in linear both;
  animation-timeline: view();
  animation-range: cover 0% cover 20%;
}

#cards {
  list-style: none;
  padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
  margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/

	--numcards: 4;
	view-timeline-name: --cards-element-scrolls-in-body;
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

.card__content {
	transform-origin: 50% 0%;
	will-change: transform;
}

.card__content {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);

	--start-range: calc(var(--index0) / var(--numcards) * 100%);
	--end-range: calc((var(--index)) / var(--numcards) * 100%);

	animation: linear scale forwards;
	animation-timeline: --cards-element-scrolls-in-body;
	animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
}

.card__content > img,
.card__content > .text-wrapper {
  width: 50%;
}

.card__content > .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: var(--primary-font-bold);
  font-size: 2.4rem;
  color: black;
  background-color: white;
}

.card__content > .text-wrapper > h1 {
  font-size: 3.5rem;
}



@media only screen and (max-width: 480px) {
  nav {
    font-size: var(--font-size-nav);
    z-index: 10;
  }
  
  #nav-logo {
    padding: 10px 20px;
    height: 80%;
    font-size: 1.8rem;
  }
  
  #burger-icon {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    cursor: pointer;
  }
  
  .toggle-button .bar {
    display: block;
    height: 0.2rem;
    width: 2.8rem;
    background-color: black;
    border-radius: 0.5rem;
  }

  #nav-links {
    display: none;
    list-style: none;
    position: fixed;
    top: 8rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  #nav-links.active {
    display: flex;
  }

  #nav-links > li {
    padding: 2rem 0;
    background-color: white;
  }
  
  #intro {
    position: relative;
    height: 70%;
    width: 100vw;
  }
  
  #intro > .bg-graphic {
    display: none;
    height: 60vh;
    width: 80vw;
    left: auto;
  }
  
  #intro > h {
    top: 54%;
    left: 7%;
    width: 80vw;
    font-family: var(--secondary-font-bold);
    font-size: 2.5rem;
    color: black;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
    animation-name: fade-in-from-right-50;
    animation-delay: var(--delay-1);
    animation-duration: var(--delay-3);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 10;
  }
  
  #intro > img {
    left: 30%;
    width: 35rem;
  }
  
  #text-and-links {
    position: absolute;
    left: auto;
    top: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #text-and-links > p {
    padding: 3rem;
    margin-bottom: 2rem;
    width: 35rem;
    font-size: 1.7rem;
    border-radius: 1rem;

  }
  
  #text-and-links > .links {
    display: flex;
    gap: 20px;
  }
  
  #text-and-links > .links > a {
    display: inline-block;
    width: 80px;
    animation-name: fade-in-from-left-100;
    animation-duration: var(--delay-3);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  #text-and-links > .links > a:hover {
    transform: scale(1.2); 
  }
  
  #text-and-links > .links > a > img {
    display: block;
    max-width: 100%;
    transition: transform 0.3s;
  }
  
  #text-and-links > .links > a > img:hover {
    transform: scale(1.2);
  }
  
  #linkedin-link {
    animation-delay: 0.7s;
  }
  
  #github-link {
    animation-delay: 0.5s;
  }
  
  #fb-link {
    animation-delay: 0.3s;
  }

  #image-track-wrapper {
    box-shadow: none;
    height: 100vh;
    width: 100vw;
  }

  #image-track {
    height: 70%;
    touch-action: pan-y;
  }

  #image-track > .image-wrapper > img {
    height: 100%;
    width: 80vw;
  }

  .card__content > .text-wrapper > h1 {
    font-size: 2.2rem;
  }
}